* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
}

.container {
    /* padding: 0 60px; */
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* .title {
    color: #fff;
    font-size: 48px;
    text-align: center;
    margin-bottom: 60px;
    background: #0000A3;

} */

/* header */
header {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.637), hsla(317, 45%, 52%, 0.616)), url(../images/pod1.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.637), hsla(317, 45%, 52%, 0.616)), url(../images/pod1.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

#btn-menu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

header label:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

nav {
    text-align: right;
    padding: 30px 0 0 0;
}

nav>a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    display: flex;
}

nav>a:hover {
    text-decoration: underline;
}

.rectangule {
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .text-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;    
}

.text-header h1{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-size: 64px;
    letter-spacing: 0;
    padding: 0 200px;

}

.text-header p{
    /* font-family: IBMPlexMono; */
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    padding: 30px 100px;
}

.text-header button{
    background-color: #00F3BB ;
    padding: 6px 30px;
    margin-top: 8px;
    font-family: 'IBM Plex Mono', monospace;
}

/* Episodes Section */

.episodes {
    display: inline;
    /* justify-content: space-evenly;
    flex-wrap: wrap; */
}

.episodes h2{
    font-family: IBMPlexSans;
    font-size: 38px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

.container-episodes{
    display: flex;
    flex-wrap: wrap;
    padding: 150px 50px 300px 50px;
    background-color: #0000A3;
    margin-top: -60px;
}

.container iframe{
    width: 50%;
    height: 232px;
}

.rectangule-two{
    margin-top: -148px;
}


/* Section Over */

.overgrapping-image{
    margin-bottom: 300px;
}

.container-text{
    padding: 50px 0 0 550px;
}

.image-over {
    width: 35%;
    height: 80%;
    margin-top: -130px;
    position: absolute;
    z-index: 1;

}

/* Section guest */

/* .guest{
    background: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
} */

.guest h2{
    font-family: IBMPlexSans;
    font-size: 38px;
    color: #000;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 130px;
}

.galerie-image{
    display: flex;
    flex-wrap: wrap;
}

.galerie-pic{
    width: 33%;
}

.image-pic img{
    width: 100%;
}

/* Section themes */

.themes{
    margin-top: 100px;
}

.themes h2{
    font-family: IBMPlexSans;
    font-size: 38px;
    color: #000;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 115px;
}

.service-ind{
    width: 25%;
}

.service-ind h3{
    font-family: 'IBM Plex Sans', sans-serif;
}

.service-cont{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 60px;
}

/* Footer */

.container-footer{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}


/* Section last news */

.last-news{
    text-align: center;
}

.title-button{
    position: absolute;
    z-index: 1;
    margin-top: -110px;
    right: 30%;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
}

.rectangule-three{
    height: 450px;
    overflow: hidden;

}

.button-news button{
    background-color: #00F3BB ;
    padding: 6px;
    margin-top: 8px;
    font-family: 'IBM Plex Mono', monospace;

}

.container-image .container.text {
    width: 48%;
}

.container-footer h2{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
}


@media (max-width: 768px) {
    body{
        background-color: burlywood;
    }

    .text-header h1{
        font-size: 35px;
    }

    /* Section over */

    .container-image img{
        width: 50%;
    }

    .container-text{
        padding: 50px 0 0 400px;
    }

    /* Section news */

    .title-button{
        text-align: right;
    }

    .title h2{
        margin-right: -135px;
    }
  }

  

  @media (max-width: 480px) {
    body{
        background-color: cyan;
    }

    header label{
        display: block;
        float: right;
        padding: 8px 40px;
    }

    nav{
        /* position: absolute; */
        background-color: rgba(0, 0, 0, 0.3);
        width: 35%;
        margin-left: -70%;
    }

    nav a{
        flex-direction: column;
        text-align: center;
    }

    #btn-menu:checked ~ nav{
        margin: 0;
        transition: all 0.5s;
    }

    .text-header h1{
        font-size: 30px;
        display: contents;
    }

    .text-header p{
        text-align: justify;
    }

    /* Section episodes */

    .container-episodes{
        display: flow-root;
    }

    .container iframe{
        width: 95%;
        height: 270px;
    }

    /* Section overgrapping */

    .container-text{
        padding: 50px 0 0 240px;
        margin-top: -55px;
    }

    .container-text p{
        font-size: 15px;
        text-align: justify;
        margin-top: 20px;
    }

    /* Section Service */

    .service-ind img{
        width: 70%;
    }

    .service-ind h3{
        font-size: 10px;
    }

    /* Section news */

    .title-button h2{
        font-size: medium;
        padding: 0 40px 0 0 ;
    }
  }



  /* @media (max-width: 480px) { */
    /* body{ */
        /* background-color: cyan; */
    /* } */

    /* header label{
        display: block;
        float: right;
        padding: 8px 40px;
    }

    .menu{ */
        /* position: absolute; */
        /* background: #0000EC;
        width: 70%;
        margin-right: 70%; 
    }

    .menu ul{
        flex-direction: column;
    }

    .menu li{
        border-top: 1px solid white;
    } */

    /* Section themes*/

    /* #btn-menu:checked ~ .menu{
        margin: 0;
        transition: all 0.5s;
    }
  } */